.base-containerF {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-containerS {
  max-width: 450px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  padding: 20px;
  border-radius: 13px;
  margin: auto;
  margin-top: 150px;
  min-height: 450px;
}

.headerF {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

.contentF {
  display: flex;
  flex-direction: column;
}

.contentS {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  min-height: 300px;
}
.contentS,
input {
  padding-bottom: 20px;
  font-size: 20px;
}

.fnameLname {
  position: relative;
  display: flex;
  /* border: 2px solid red; */
}
.fnameLname input {
  margin-right: 10px;
  width: 215px;
  margin-top: 0;
  min-width: initial;
  height: initial;
  padding: initial;
  font-size: initial;
  /* font-family: initial;  */
  background-color: initial;
  border: initial;
  border-radius: initial;
  margin-bottom: initial;
  transition: initial;
}

.mustafamo5 {
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}
.mustafamo5 input {
  width: 27.5em !important;
}
.css-395f2x {
  width: 27.4rem;
}
.phone-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  width: fit-content;
  /* border: 2px solid red; */
}
/* .phone-container input {
  width: 27em;
} */
.imageF {
  width: 21em;
}
.imageF img {
  width: 100%;
  height: 100%;
}
.formF {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-groupF {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  /* border: 2px solid red; */
}

label {
  font-size: 20px;
}
input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

input :focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.footerF {
  margin-top: 3em;
}

.AppF {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emailVer {
  padding-top: 50%;
  padding-bottom: 50%;
}
.emailVer img {
  padding-bottom: 15px;
}
.emailVer h2 {
  font-weight: bolder;
  padding-bottom: 15px;
}
.emailVer p {
  color: grey;
}

.loginF {
  width: 25em;
  min-height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  position: relative;
  z-index: 99;
}
.containerF {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  position: relative;
  z-index: 99;
  height: 100%;
  z-index: 99;
  padding: 20px 30px;
  width: fit-content;
  transition: transform 200ms ease-in-out;
  /* border: 2px solid red; */
}
.right-sideF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  background-color: #3498db;
  width: 100%;
  position: absolute;
  right: -34%;
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}
.right-sideF.right {
  right: -40%;
  align-items: flex-end;
}
.right-sideF.right:hover {
  right: -45%;
}

.right-sideF.left {
  right: 45%;
  align-items: flex-start;
}
.right-sideF.left:hover {
  right: 50%;
}

.text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}

.btnF {
  font-size: 21px;
  padding: 8px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  width: 75%;
}
.btnF :hover {
  background-color: #2386c8;
}
.btnF :focus {
  outline: none;
}
#email,
#password,
#address,
#businessName,
#registrationNumber {
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
  color: black;
}

.noacc {
  font-size: 14px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: -10% !important;
  display: none;
}
.noacc span {
  color: #3498db;
}
.noaccR {
  font-size: 14px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: -5% !important;
  margin-left: -34% !important;
  display: none;
}
.noaccR span {
  color: #3498db;
}
.forget {
  display: flex;
  justify-content: flex-end;
  margin-left: 62%;
  margin-top: -7%;
  cursor: pointer;
}
@media (max-width: 599px) {
  .noacc {
    display: block;
  }
  .noaccR {
    display: block;
  }
  .forget {
    margin-left: 0%;
    margin-top: 0%;
  }
  .right-sideF {
    display: none;
  }
}

@media all and (max-width: 447px) {
  .base-containerF {
    max-width: 350px;
  }
  .fnameLname {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }
  .fnameLname input {
    margin-bottom: 10px;
    width: 18em;
  }
  .css-395f2x {
    width: 18em !important;
  }
  .phone-container {
    /* border: 2px solid blue; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    left: -16%;
    max-width: 100%;
  }
  .phone-container input {
    margin: 0;
  }

  .mustafamo5 {
    width: auto;
  }
  .mustafamo5 input {
    width: 18em !important;
  }
}

.css-zrqpq1::before {
  display: none !important;
}
