@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
html {
  zoom: 0.9;
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  padding: 0;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}
.recycle12 {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(250, 57, 57);
  color: white;
  width: 100px;
  border-radius: 12px;
  padding: 2px;
  text-align: center;
}
.SelectedCountries {
  width: 100%;
  height: 40px;
  margin-top: 4px;
}

.dropdown-content-flag.show {
  z-index: 999;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}
.row,
.col-6,
.col-4 {
  margin: 0;
  padding: 0;
}
.Announcement {
  background-color: #3471db;
  padding: 10px 0px 6px 0px;
  position: relative;
  transition: all 1s ease-in-out;
}

.Announcement .col-md-6 p {
  color: white;
  margin-right: 6rem;
  font-size: 15px;
}

.Announcement .col-12 a {
  color: white;
  margin-right: 2rem;
  font-size: 15px;
}

/* Header */
.header {
  padding: 10px 0px 10px 0px;
  box-shadow: 0 2px 4px rgba(44, 42, 42, 0.3);
  height: 13vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  margin-bottom: 100px;
}

.fresh-recom {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.navbar-brand img {
  width: 60%;
}
.input-group {
  height: 50px;
  width: 90%;
  /* border: 2px solid red; */
}

.search-button {
  width: 20%;
  background-color: #3498db;
  color: white;
  border: 0;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 5px;
  height: 40px;
}

.Login-Register a {
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 3.4rem;
  position: relative;
}
.Login-Register a:nth-last-child(1) {
  margin-right: 0rem;
}

.loginButton {
  padding: 7px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  transition: 0.2s all ease-in;
  width: 100px;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .Login-Register a {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 821px) and (max-width: 861px) {
  .loginButton {
    margin-right: -50px;
  }
}

.searchInput:focus::placeholder {
  color: transparent;
}
.loginButton:hover {
  padding: 7px;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #3498db;
  box-sizing: border-box;
  border: 1px solid #3498db;
  transition: 0.2s all ease-in;

  text-transform: capitalize;
  margin-left: 10px;
}

.sellProduct {
  padding: 7px;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #3498db;
  box-sizing: border-box;
  border: 1px solid #3498db;
  transition: 0.2s all ease-in;
  width: 100px;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 10px;
}
.bi.bi-cart-check {
  transition: 0.4s;
  color: rgba(0, 0, 0, 0.8);
}

.bi.bi-cart-check:hover {
  fill: #3498db;
}
.sellProduct:hover {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}

.badge {
  background-color: red;
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  left: 82%;
  top: -45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containflag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0px;
  margin-right: 4.7rem;
}
.dropdown-flag {
  position: relative;
  display: inline-block;
}
.fa-whatsapp {
  color: white;
}
.wp img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.1rem;
}
.wp {
  float: right;
  z-index: 999999999999999999999999999999999999999;
  border: 2px solid rgb(67, 240, 76);
  background-color: #50d860;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  margin-right: 15px;
}
.contain-wp {
  width: 10%;
  height: fit-content;
  /* border: 2px solid red; */
  position: fixed;
  top: 85%;
  left: 90%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-detail-image {
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.small-image img {
  width: 50px;
  height: 50px;
}
.selected-image {
  background-color: #f02d34;
}
.wp::before {
  content: "Do You need any Help?  Message us.";
  display: block;
  position: absolute;
  top: -1;
  right: 55%;
  width: 200px;
  height: fit-content;
  padding: 10px;
  color: wheat;
  background-color: #455a64;
  z-index: -1;
  opacity: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.wp:hover::before {
  opacity: 1;
}
.dropdown-content-flag {
  display: none;
  position: absolute;
  right: 1%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
}

.dropdown-content-flag a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px;
  text-decoration: none;
  gap: 7px;
  margin-bottom: 5px;
}

.dropdown-content-flag a:hover {
  background-color: #f1f1f1;
}

.dropdown-content-flag.show {
  display: block;
}
.name-button {
  padding: 5px 15px;
  border: 1px solid #e4e4e4;
  background-color: white;
  border-radius: 2px;
  margin: 0 25px;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255) !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.dropdown-menu a {
  padding: 10px 20px !important;
  color: #000000 !important;
  margin: 0 !important;
}
.dropdown-menu a:hover {
  color: #3498db !important;
  background-color: whitesmoke !important;
}
.dropdown-menu a:visited {
  background-color: white;
}
.mobile-header {
  display: none;
}
.container {
  min-width: 100px !important;
}
/* SHOP */
.section {
  width: 100%;
  padding-bottom: 6%;
  padding-top: 2%;
}
.sidebar_item {
  margin-bottom: 35px;
}
.sidebar_item h4 {
  color: #1c1c1c;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}
.sidebar_item ul {
  margin: 0;
  padding: 0;
}
.sidebar_item ul li {
  list-style: none;
  display: flex;
}

.sidebar_item ul li a {
  font-size: 16px;
  color: #000000;
  line-height: 45px;
  display: block;
  font-family: "Open Sans", sans-serif;
}
.sidebar_item ul li img {
  width: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.shop {
  margin-bottom: 50px;
}
.border-product {
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
.shopBack {
  height: 250px;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #f3fbf7;
}
.shopBack img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.shoptext {
  padding-top: 10px;
}
.shoptext p a {
  color: #252525;
}
.shoptext h3 {
  color: #252525;
  margin-top: 13px;
  font-weight: bold;
  font-size: 19px;
}
.rating {
  margin: 5px 0;
}
.rating i {
  font-size: 12px;
  color: #ebb450;
}
.rating span {
  margin-left: 10px;
}
/* END OF SHOP */

/* NEWSLATTER */
.subscribe-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.226)),
    url("https://sasshoes-com.s3.us-west-2.amazonaws.com/img/banner-uplift-21.jpg")
      no-repeat scroll center / cover;
  padding: 100px 0 100px;
}
.subscribe-head h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 0 0 13px;
  text-transform: uppercase;
}
.subscribe-head p {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 39px;
}
.subscribe-head {
  text-align: center;
}
.form-section input[type="email"] {
  border: 0 none;
  border-radius: 25px;
  color: #9b9b9b;
  font-size: 16px;
  font-style: normal;
  height: 51px;
  letter-spacing: 0;
  text-align: center;
  width: 460px;
}
.form-section input[type="submit"] {
  background: #3471db;
  border: 0 none;
  border-radius: 25px;
  color: #fff;
  height: 52px;
  letter-spacing: 0;
  margin-left: -60px;
  padding: 0 58px;
  text-transform: uppercase;
  font-size: 12px;
}
/* CONTACT */
.contactInfo {
  padding: 70px 0;
}
.contact-Box,
.box-info,
.info-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-info {
  width: 80%;
  flex-direction: column;
  padding: 40px 0;
  box-shadow: 0px 0px 27px 0px rgb(243, 243, 243);
}
.info-image {
  width: 50px;
  height: 50px;
  border: 2px solid #3471db;
  border-radius: 100px;
  font-size: 20px;
  color: #3471db;
}
.box-info h5 {
  font-weight: bold;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.box-info p {
  font-size: 16px;
}

/* SINGLE PRODUCT */
.videoP {
  margin-top: 5%;
}
.recycle {
  margin-top: 5%;
}
.single-product {
  margin-top: 50px;
  margin-bottom: 50px;
}
.single-image {
  background-color: rgba(0, 0, 0, 0.156);
  margin-right: 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.single-image img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.ProductTag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3471db;
  color: white;
  padding: 5px 10px;
  border-radius: 0 15px 15px 0;
}
.sellProd {
  background-color: green;
  color: white;
}
.product-name {
  font-size: 25px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 30px;
}

.display-flex {
  display: flex;
}
.product-info {
  width: 100%;
}
.product-dtl p {
  line-height: 24px;
  color: #7a7a7a;
}
.product-count {
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  margin-top: 40px;
}
.product-count .flex-box {
  padding: 15px 25px;
  border-bottom: 2px solid #f3f3f3;
}
.product-count .flex-box h6 {
  font-size: 16px;
}
.product-count .flex-box span {
  font-weight: 600;
  color: #000000;
}
.product-count .flex-box select {
  background-color: #f3f3f3;
  width: 100px;
  height: 40px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}
.round-black-btn {
  border-radius: 4px;
  background: #3498db;
  color: #fff;
  width: 100%;
  height: 50px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.2s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: #3471db;
}

/* LOGIN */
.login-center {
  padding: 50px 0;
}
.Login,
.Login2 {
  background: #fff;
  border-radius: 5px;
  position: relative;
  padding: 35px 30px 30px;
  box-shadow: 0 1px 11px rgba(168, 168, 168, 0.27);
  text-align: center;
}
.Login input {
  width: 100%;
  padding: 20px 20px;
  margin-top: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #8a8a8a;
}
.Login input:focus {
  outline: 0px;
}
.Login button,
.Login2 button {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  border: 0;
  background-color: #3471db;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
}
.Login button a,
.Login2 button a {
  text-transform: uppercase;
  color: white;
}
.Login p {
  margin-top: 30px;
}
.Login p a {
  color: #7a7a7a;
}
/* PROFILE */
.author-card {
  position: relative;
}
.author-card-cover {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-image: url("https://gust.com/assets/blank_slate/Gust_Profile_CoverPhoto_Blank-21edf1e2890708d5a507204f49afc10b7dc58eb7baea100b68a1bc2c96948297.png");
}
.author-card-profile {
  padding: 20px 10px;
}
.author-card-avatar {
  padding: 0 20px;
}
.author-card-avatar img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 100px;
  margin-top: -60%;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.377);
}
.wizard .nav button {
  padding: 15px 20px;
  font-size: 13px;
  background-color: #ffffff;
  color: black;
  width: 100%;
  text-align: start;
  border-radius: 0;
  text-transform: uppercase;
  border-top: 1px solid #e4e4e4;
}
.wizard .nav .active {
  background-color: #68b2e0;
  color: black;
}
.badge2 {
  width: 20px;
  height: 20px;
  background-color: #3471db;
  padding: 2px;
  display: grid;
  place-items: center;
  border-radius: 100px;
  color: #ffffff;
}
.form {
  padding: 5px 0;
}
.form label {
  padding: 10px 0;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
}
.form input {
  padding: 20px 10px;
  font-size: 17px;
}
.form input:focus {
  box-shadow: none !important;
}
.form-container button {
  padding: 15px 0;
  border: 0px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #3471db;
  color: #ffffff;
}
/* orders */
.link {
  color: #3498db;
  border-bottom: 1px solid #3498db;
  padding-bottom: 5px;
  font-size: 15px;
}
.link:hover {
  color: #3498db;
}
.table-responsive {
  width: 100%;
}
/* CART */
.cart-iterm {
  padding: 25px;
  background-color: white;
  box-shadow: 0 0 10px #00bfff;
  position: relative;
  animation: glow 1.5s ease-in-out infinite;
  border: 2px solid rgba(0, 0, 0, 0.171);
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 12px;
}
.cart-container {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: fit-content;
  max-height: 450px;
  overflow: auto;
  padding-bottom: 14%;
}

.remove-button {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* padding: 0.5rem; */
  position: absolute;
  top: 5%;
  left: 92% !important;
  /* margin-top: 10px; */
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .remove-button {
    top: 3%;
    left: 87% !important;
  }
}
@media screen and (max-width: 756px) {
  .remove-button {
    top: 3%;
    left: 80% !important;
  }
}

.cartdiv {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.6);
}
.cart-image img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.cart-text a h4,
.cart-price h4 {
  font-size: 17px;
  font-weight: bold;
}
.cart-text p {
  margin-top: 10px;
  font-size: 15px;
  color: #7a7a7a;
}
.cart-qty select {
  width: 100%;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
.cart-qty h6,
.cart-price h6 {
  margin-bottom: 15px;
  color: #8c8c8c;
  font-size: 13px;
  text-transform: uppercase;
}
.total {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: end;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total .sub {
  color: #8c8c8c;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
}
.total .total-price {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.clearButton button {
  padding: 15px 0;
  border: 0px;
  width: 200px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: red;
  color: #ffffff;
  transition: all 0.3s ease-in-out 0s;
}
.cart-buttons {
  margin: 90px 0;
}
.cart-buttons a button,
.cart-buttons div button {
  width: 80%;
  padding: 15px 0;
  border: 0px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #3498db;
  color: #ffffff;
  transition: all 0.3s ease-in-out 0s;
}

.cart-buttons div button:hover {
  background: #3471db;
}

.cart-buttons a:nth-child(1) button {
  background-color: #000000;
}
/* FOOTER */
.footer {
  background-color: #ececec;
}
.card-name {
  width: 4%;
  margin: 10px;
}
.card-name img {
  width: 100%;
  height: 50px;
  object-fit: contain;
}

/* Payment */
.payment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.payment-container h6 {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}
.date-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
.date-container input {
  font-size: 17px;
  width: 50%;
  cursor: pointer;
}
.date-container label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.phone-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
.phone-container ::after {
  content: none !important;
}
.phone-container label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.phone-container input {
  font-size: 17px;
  cursor: pointer;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 0px;
}
.order-detail p {
  margin-top: 2px;
}
.order-detail {
  padding: 25px 0;
  background-color: #a5dafb;
}
.order-detail h5 {
  margin-bottom: 6px;
}

.fa-truck-moving,
.fa-map-marker-alt,
.fa-user {
  color: #3498db;
}
.order-box {
  border-radius: 100px;

  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgb(241, 236, 236);
}
.order-product {
  margin: 40px 0;
  border-bottom: 2px solid #3498db;
  position: relative;
}
.order-product h4 {
  font-size: 13px;
  margin-bottom: 10px;
}
.order-product img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.table-bordered {
  background-color: #f3f3f3;
}
.subtotal-order button {
  width: 100%;
  padding: 15px 0;
  border: 0px;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #3471db;
  color: #ffffff;
}

/* Pagination */
.pagination .page-link {
  padding: 10px 30px;
  color: #3498db;
  margin-top: 5%;
}
.page-item.active .page-link {
  background-color: #3498db;
  border: 1px solid #3498db;
}

.searchBox {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 45px;
  border-radius: 40px;
  width: 450px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -5rem !important;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .searchBox {
    width: 300px !important;
  }
  .searchButton {
    margin-left: -50px !important;
  }
}

.searchButton {
  color: white;
  width: 72px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  background: #3498db;
  color: #2f3640;
  cursor: pointer;
  border-radius: 0px 200px 200px 0px;
  -webkit-border-radius: 0px 200px 200px 0px;
  -moz-border-radius: 0px 200px 200px 0px;
  cursor: pointer;
  border: none;
  outline: none;
}

.fa-search {
  color: white;
}

.searchInput {
  background: none;
  outline: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.805);
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
  width: 0px;
  top: 30%;
  left: 5%;
  position: relative;
  line-height: 40px;
}

.searchInput:focus::placeholder {
  color: transparent;
}
.searchInput::placeholder {
  text-align: start;
  font-size: large;
  color: rgba(0, 0, 0, 0.65);
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  /* margin-left: 30px !important;  */
}

.customPagination a {
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #dee2e6;
  text-align: center;
  margin: 0 5px;
  text-decoration: none;
  transition: 0.4s;
}

.customPagination a.prev,
.customPagination a.next {
  width: 70px;
  height: 40px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}
.customPagination a.active,
.customPagination a:hover {
  background: #3471db;
  color: #fff;
  transition: 0.4s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the shake animation to an element */
.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: forward;
}

.sliderContainer {
  /* border:2px solid red; */
  width: 100%;
  height: 70%;
  margin-top: 170px;
  margin-bottom: 50px;
}

.searchSection {
  /* border:2px solid red; */
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Xsign {
  position: absolute;
  top: 25%;
  right: 0;
  cursor: pointer;
  /* border: 2px solid red; */
  width: fit-content;
  z-index: 100000;
}
.contain-Shipping {
  padding-top: 150px;
}
.placeOrderContainer {
  padding-top: 150px;
}

@media (max-width: 460px) {
  .Xsign {
    left: 0;
  }
}

.ProfileContainer {
  /* border: 2px solid red; */

  padding-top: 150px;
  position: relative;
}
.cartContainer {
  padding-top: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
  .cart-container {
    padding-bottom: 20%;
  }
  .cartContainer {
    padding-top: 130px;
  }
  .ProfileContainer {
    /* border: 2px solid red; */
    padding-top: 160px;
  }
}

.emptyCart {
  margin-top: 13%;
}

.form__inputz {
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
  padding-block: 1rem;
}
.form__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1px;
}
.form__bar::before {
  content: "";
  position: absolute;
  background-color: #19376d;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.form_input:focus + .form_bar::before,
.form_input:valid + .form_bar::before {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  .emptyCart {
    margin-top: 10rem;
  }
}
